@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html {
  font-family: Arial;
  font-size: 30px;
  background: #5e42a6;
}
.sidebar {
  position: fixed;
  width: 15%;
  height: 100vh;
  background: #312450;
  font-size: 0.65em;
}
.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}
.nav ul {
  list-style: none;
}
.nav ul li {
  position: relative;
  margin: 3.2em 0;
}
.nav ul li a {
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  color: rgba(255, 255, 255, 0.35);
  display: block;
  transition: all ease-out 300ms;
}
.nav ul li.active a {
  color: white;
}
.nav ul li:not(.active)::after {
  opacity: 0.2;
}
.nav ul li:not(.active):hover a {
  color: rgba(255, 255, 255, 0.75);
}
.nav ul li::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: black;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #fff, #fff);
}


::placeholder {
  color: #eee;
  opacity: 1
}

.search-2 {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.search-2 input {
  height: 45px;
  border: solid;
  width: 100%;
  padding-left: 18px;
  padding-right: 100px
}

.search-2 input:focus {
  border-color: black;
  box-shadow: none;
  outline: none
}

.search-2 i {
  position: absolute;
  top: 12px;
  left: -10px;
  font-size: 24px;
  color: #eee
}

.search-2 button {
  position: absolute;
  right: 1px;
  top: 0px;
  border: none;
  height: 45px;
  background-color: #312450;
  color: #fff;
  width: 90px;
  border-radius: 4px
}

@media (max-width:800px) {

  .search-2 input {
    padding-left: 34px
  }

  .search-2 button {
    height: 37px;
    top: 5px
  }
}

img{
  margin-top: 50px;
  margin-right: 20px;
  margin-bottom: 20px;
}
